<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">FitnessPanel</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a *ngIf="isLoggedIn" class="nav-item nav-link" routerLink="/">Dashboard</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a *ngIf="!isLoggedIn && registerAllowed" id="nav-btn" class="nav-item nav-link" routerLink="/register">Sign Up</a>
      <a *ngIf="!isLoggedIn" class="nav-item nav-link" id="nav-btn" routerLink="/login">Log in</a>
      <a *ngIf="isLoggedIn" class="nav-item nav-link" >Hello, {{userEmail}}</a>
      <a *ngIf="isLoggedIn" class="nav-item nav-link" id="nav-btn" routerLink="/settings" >Settings</a>
      <a *ngIf="isLoggedIn" class="nav-item nav-link" id="nav-btn" (click)="logOut()">logout</a>
    </div>
  </div>
</nav>
<br><br>