.navbar {
  background: #767676;
}
.navbar-nav a, .navbar-brand, .nav-link{
  color: #fff;
}
.nav-link:hover {
  color: #0070ba;
}
#nav-btn {
  /* border: 1px solid #fff; */
  margin: 0 10px;
  border-radius: 25px;
  background: #0070ba;
  color: #fff;
}
#nav-btn:hover {
  background: #fff;
  color: #0070ba;
  transition: all 0.5s;
}